table {
  background-color: aliceblue;
}
th {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td,
th {
  text-align: center;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #1e56a0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.3em;
}

/* loader */
#loader {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
